/*
!/src/
!.gitignore
!gradlew*
!/gradle/
!/LICENSE.txt
!/README.md
!build.gradle
!/gradle.properties
!.gitattributes
!ASSETS_LICENSE.txt

src/generated/resources/.cache/
src/generated/resources/.cache/cache
